.HomeMain {
  width: 90%;
  margin: auto;
}

.NavBar {
  border: 2px solid transparent;
  background-color: #6d8b74;
  color: #efead8;
  width: 110.7%;
  margin-left: -5.5%;
}

.ColorMainDiv {
  margin-top: 2%;
  display: flex;
  gap: 5%;
}

.ColorMainDiv > div {
  border: 2px solid #6d8b74;
  border-radius: 20px;
  width: 100%;
  height: auto;
  margin: auto;
}
.IndividualCircle {
  margin-left: 45%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
}

.IndividualCircle > p {
  padding-top: 30%;
}

.InputMainDiv {
  margin-top: 3%;
}

.InputMainDiv > button {
  margin-left: 1%;
  background-color: #5f7161;
  color: #d0c9c0;
  border: transparent;
  padding: 1%;
  border-radius: 15px;
  cursor: pointer;
}
.InputMainDiv > button:hover {
  background-color: #570a57;
  color: #efead8;
}

.InputMainDiv > input {
  padding: 1%;
  background-color: #efead8;
  border: transparent;
  color: #5f7161;
  border-radius: 15px;
}
